<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to JamesGallagher.io, <%= @user.name %></h1>
    <p>
      You have successfully signed up to JamesGallagher.io! I am glad to have you as a user.
      All you have to do is verify your account and you can start commenting on posts.
    </p>
    <p>
      To login to the site, just follow this link: https://jamesgallagher.io/login?token=<%= @code %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
